@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App-link {
  color: #61dafb;
}

.google,
.twitter {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  box-shadow: rgb(0 0 0 / 20%) 1px 1px 5px 0px !important;
}
/* .section-left {
  background: radial-gradient(circle, #202047 0, #020917 100%);
} */
.logInForm {
  /* box-shadow: rgb(0 0 0 / 10%) 0px 0px;
  background: rgb(255, 255, 255); */
  /* width: 400px; */
}
/* .App{
  text-align: center;
} */
.error {
  color: red;
  text-align: center;
  font-weight: 600;
}
#deleteProject {
  float: right;
  bottom: 30px;
  right: 3em;
  position: relative;
}

.deletePopUp {
  background-color: rgb(253, 252, 252);
  padding: 2em;
}
.projectDeletedPage {
  margin: 4em 1em;
  text-align: center;
  line-height: 1.8;
  background-color: gainsboro;
}

.bugsHeaderProject {
  text-align: center;
}
.ticket {
  margin: 30px;
}
.project-title {
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
}
.ticket-title:hover {
  cursor: pointer;
  color: #ff6400;
}
.sucess-msg {
  text-align: center;
  font-weight: 500;
  background-color: #70e858;
  padding: 1em 0.5em;
  color: #fff;
}
/* .section-right {
  border: 2px solid red;
}
.logInForm {
  border: 2px solid red;
} */
@media only screen and (min-width: 400px) {
  .logInForm {
    max-width: 400px;
    /* box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px; */
  }
}
@media only screen and (min-width: 600px) {
  .logInForm {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}
