@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;900&display=swap");

* {
  box-sizing: border-box;
}
ul li {
  font-weight: 300;
}
body {
  font-family: "Roboto", sans-serif;
}
.brand {
  display: none;
}
.brand.expanded {
  display: flex;
}
.isShrinked {
  width: 72px;
}
/* .tickets-container {
  width: 100vw;
}
.ticketHeader-wrapper {
  width: 100vw;
} */

.google-wrapper,
.twitter-wrapper {
  box-shadow: rgb(0 0 0 / 20%) 1px 1px 5px 0px;
}
body {
  /* background-color: #f2f2f2 !important; */
}

.overlay-container {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 999;
  display: block;
  background-color: black;
  opacity: 0.8;
}

.ticketCreateContainer,
.projectCreateContainer {
  z-index: 10000;
}
.hideOverflow {
  overflow: hidden;
}
.removeZindex {
  z-index: 0 !important;
}
.brandName {
  /* font-family: "Nunito", sans-serif; */
}
.addUnderline {
  border-bottom: 2px solid #ff6400;
  font-weight: 500;
}

/* Container around content */
.circle {
  padding: 10px;
  position: relative;
}

/* The circles on the timeline */
.circle::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -12px;
  top: 12px;
  background-color: #ffffff;
  border: 4px solid #ff6400;
  border-radius: 50%;
  z-index: 1;
}
.ticket-wrapper:hover .external-link {
  display: block;
}

/* #top-navbar {
  margin-left: 20%;
} */

/* .twitter {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  box-shadow: rgb(0 0 0 / 20%) 1px 1px 5px 0px !important;
} */
/* .section-left {
  background: radial-gradient(circle, #202047 0, #020917 100%);
} */
.logInForm {
  /* box-shadow: rgb(0 0 0 / 10%) 0px 0px;
  background: rgb(255, 255, 255); */
  /* width: 400px; */
}
/* .App{
  text-align: center;
} */
.error {
  color: red;
  text-align: center;
  font-weight: 600;
}
.buttons {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#deleteProject {
  float: right;
  bottom: 30px;
  right: 3em;
  position: relative;
}

.deletePopUp {
  background-color: rgb(253, 252, 252);
  padding: 2em;
}
.projectDeletedPage {
  margin: 4em 1em;
  text-align: center;
  line-height: 1.8;
  background-color: gainsboro;
}

.sucess-msg {
  background-color: #70e858;
}
input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}
::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}
/* .section-right {
  border: 2px solid red;
}
.logInForm {
  border: 2px solid red;
} */

@media only screen and (min-width: 400px) {
  .logInForm,
  .signUpForm {
    max-width: 400px;
    /* box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px; */
  }
}
@media only screen and (min-width: 600px) {
  .logInForm,
  .signUpForm {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  /* .ticket-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0 30px;
  } */

  .ticket-details-wrapper {
  }
}
/* @media only screen and (min-width: 976px) {
  .moveToRight#top-navbar {
    margin-left: 20%;
  }
  .moveToRight#home {
    margin-left: 20%;
  }
} */
@media only screen and (min-width: 1064px) {
  .toggler {
    margin-left: 20% !important;
  }
}
